@model proyecto24BM.Models.usuario
@{
	ViewData["Title"] = "Crear usuario";
}

<div class="container-fluid">
	<div class="offset-12">
		<div class="card borrder">
			<div class="card-header bg-dark" >
				<h1 class="text-white">@ViewData["Title"]</h1>
			</div>
			<div class="card-body">
				<form>
					<div class="form-group">
						<label asp-for="Nombre" class="Control-label"></label>
						<input asp-for="Nombre" class="form-control" placeholder="Ingresa nombre" required/>
					</div>

					<div class="form-group">
						<label asp-for="User" class="Control-label"></label>
						<input asp-for="User" class="form-control" placeholder="Ingresa user" required/>
					</div>

					<div class="form-group">
						<label asp-for="Password" class="Control-label"></label>
						<input asp-for="Password" class="form-control" placeholder="Ingresa password" required/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>